.env
__pycache__
app/controllers/__pycache__/*
app/routes/__pycache__/*
app/services/__pycache__/*
app/utils/__pycache__/*
/app/controllers/__pycache__/auth_controller.cpython-310.pyc
/app/controllers/__pycache__/connection_controller.cpython-310.pyc
/app/controllers/__pycache__/executor_controller.cpython-310.pyc
/app/controllers/__pycache__/route_controller.cpython-310.pyc
/app/controllers/__pycache__/system_controller.cpython-310.pyc
/app/controllers/__pycache__/user_controller.cpython-310.pyc
/app/controllers/__pycache__/verzo_controller.cpython-310.pyc
/app/models/__pycache__/user_model.cpython-310.pyc
app/services/__pycache__/auth_service.cpython-310.pyc