.env
__pycache__
app/controllers/__pycache__/*
app/routes/__pycache__/*
app/services/__pycache__/*
app/utils/__pycache__/*
.venv
/instantclient-basic-linux.zip
instantclient-basic-linux.zip
itsmkora-account-file.json